<div class="animated fadeIn">
  <div class="card">
    <div class="card-header bg-white">
      User List

      <button type="button" class="btn btn-success pull-right" data-toggle="modal" (click)="openModal(createModal)">
        <i class="fa fa-magic"></i> Create User
      </button>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="thead-default">
          <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th style="width:200px"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <th>{{user.firstName}}</th>
            <th>{{user.lastName}}</th>
            <th>{{user.email}}</th>
            <th>{{user.role}}</th>
            <th>
              <span *ngIf="user.enabled" class="badge badge-success">Active</span>
              <span *ngIf="!user.enabled" class="badge badge-danger">Passive</span>
            </th>
            <th>{{user.created}}</th>
            <th>{{user.updated}}</th>
            <th>
              <button class="btn btn-primary" (click)="editModalOpen(user, createModal)">
                <i class="fa fa-edit"></i> Edit
              </button>
              <button class="btn btn-danger float-md-right" (click)="deleteItem(user.id)">
                <i class="fa fa-trash-o"></i> Delete
              </button>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div bsModal #createModal="bs-modal" class="modal fade create-modal" tabindex="-2" role="dialog" aria-hidden="true"
       [config]="modalSettings">
    <div class="modal-dialog" role="document">
      <form (ngSubmit)="create(createModal)">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create/Update User</h4>
            <button type="button" class="close" (click)="createModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group" *ngIf="createRequest.id">
              <label>Id</label>
              <input id="user-id" type="text" [(ngModel)]="createRequest.id" class="form-control" required="required" name="id" disabled="disabled" value="{{id}}">
            </div>
            <div class="form-group">
              <label>Name</label>
              <input id="user-firstName" type="text" [(ngModel)]="createRequest.firstName" class="form-control" required="required" name="firstName">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input id="user-lastName" type="text" [(ngModel)]="createRequest.lastName" class="form-control" required="required" name="lastName">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input id="user-email" type="text" [(ngModel)]="createRequest.email" class="form-control" required="required" name="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input id="user-password" type="password" [(ngModel)]="createRequest.password" class="form-control" required="required" name="password" >
            </div>
            <div class="form-group">
              <label>Role</label>
              <input id="user-role" type="text" [(ngModel)]="createRequest.role" class="form-control" required="required" name="role">
            </div>
            <div class="form-group">
              <label>Status</label>
              <select [(ngModel)]="createRequest.enabled" class="form-control" name="enabled">
                <option value="true" [selected]="!!createRequest.enabled">Enabled</option>
                <option value="false" [selected]="!createRequest.enabled">Disabled</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
            <button type="submit" class="btn btn-primary">
              <span *ngIf="!loading">Create/Update Merchant</span>
              <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
